<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/lib/bootstrap.min.css">
    <title>Art Gallery</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/index.css" />
</head>
  <body>

<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">

					<li><a class="page-scroll" href="/admin/opere">List of
							Works of art</a></li>
					<li><a class="page-scroll" href="/logout">Logout</a></li>
					
                    
                    <li>
                        <a class="page-scroll" href="/artista">Artist</a>
                    </li>
                    <li>
                        <li><a class="page-scroll" href="/opera">Art form</a></li>
                    
                   
			 		<li><a class="page-scroll" href="/opere">Art insert</a></li>
					
					<!-- <li>
                        <a class="page-scroll" href="/artista">Artista</a>
                    </li>
                    <li>
                        <li><a class="page-scroll" href="/opera">Opera da inserire</a></li>
                    </li>
                   
			 		<li><a class="page-scroll" href="/opere">Opere inserite</a></li>
					
					<li><a class="page-scroll" href="/ui">AMMINISTRATORE</a></li> 
                    <li>
                        <a class="page-scroll" href="/opere">Opere</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="/user">Registrati</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/login">Autenticazione</a>
                    </li> -->

				</ul>
			</div>
<!-- <div style="padding-left:16px">
  <h2>Top Navigation Example</h2>
  <p>Some content..</p>
</div> -->
  
    <div>
<div class = "container">
	<div class="wrapper">
		<form name="f" th:action="@{/admin}" method="post">    
		    <h3 class="form-signin-heading"><font size="25">Welcome! Please Sign In</font></h3>
		    <br></br>
			<div th:if="${param.error}" class="alert alert-error">    
            Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"> 
            You have been logged out.
            </div>
			<input type="text" name="Username" placeholder="Username" />
			<input type="password" name="Password" placeholder="Password" />     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
		</form>			
	</div>
</div>
    </div>
    
    
    
    <div class="footer">
		<div class="overlayer">
			<div class="container">
				<div class="row">
					<div class="credits"> <div align="center">&copy; Giacomo Bonanni --- Sorin Oancea</div></div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>