<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<style> html { 
  background: url('https://s-media-cache-ak0.pinimg.com/originals/5b/97/22/5b97226057c25c682bfe701638d79939.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
</head>

<body >
<div class="row">
<br></br><br></br><br></br><br></br><br></br>
    <h1 align="center" class="indigo-text center" th:text="${error}">Not found</h1>

    <p align="center" class="col s12 center" ><!-- th:text="${message}" -->
     <font size="12"> 
<br></br><br></br><br></br><br></br><br></br>
                      <div align="center"><a href="/"><b>Home</b></a></div>
     </font> 
    </p>
    			<font size="12">	 </font> 
				
			
</div>
</body>
</html>